<!DOCTYPE html>
<html lang="ua">
<head>
  <meta charset="utf-8">
	<title>Diary</title>
	<link rel="icon" type="image/png" href="media/icon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<meta name="robots" content="noindex, nofollow"> <!-- робить сторінку прихованою від пошукових ботів -->
</head>

<body>
	<!------------------------------ HEADER----------------------------------->
	<header id="header">
		<h2 id="headerHeader">ЩОДЕННИК</h2>
		<!--<div id="descr">Опис</div>-->
		<div id="menuMob">
            <button id="newArticleMenuButton" onclick="showmenu()" title="Меню">
                <i class="fa-solid fa-bars" id="MBSymbol"></i>
            </button>
        </div>
	</header>
	<div id="panelInstruments">
		<a class="panelInstrumentsButton" href="/diary/public/flysquirrel-diary/ua">🇺🇦</a>
		<a class="panelInstrumentsButton" href="/diary/public/flysquirrel-diary/de">🇩🇪</a>
		<% if(user) { %>
			<a class="panelInstrumentsButton" href="/diary/public/flysquirrel-diary/logout">Вийти із акаунта</a>
		<% } %>
		<% if(!user) { %>
			<a class="panelInstrumentsButton" href="/diary/public/flysquirrel-diary/login">Увійти в акаунт</a>
		<% } %>
	</div>
	<!------------------------------ MENUS----------------------------------->
	<div id="menu">
		<div id="panelInstrumentsMob">
			<div class="PIButtContainer">
				<a class="PIButt" href="/diary/public/flysquirrel-diary/ua">🇺🇦</a>
				<a class="PIButt" href="/diary/public/flysquirrel-diary/de">🇩🇪</a>
			</div>
			<div class="PIButtContainer">
				<% if(user) { %>
					<a class="PIButt" href="/diary/public/flysquirrel-diary/logout">Вийти із акаунта</a>
				<% } %>
				<% if(!user) { %>
					<a class="PIButt" href="/diary/public/flysquirrel-diary/login-de">Увійти в акаунт</a>
				<% } %>
			</div>
		</div>
		<ul>
				<li><a href="/" class="menuLink">Головна</a></li>
				<li><a href="diaries.html" class="menuLink">Щоденники</a></li>
				<li><a href="/diary/public/robert-diary/" class="menuLink">Список записів</a></li>
				<li><a href="/diary/public/robert-diary/galerie" class="menuLink">Галерея</a></li>
				<% if(author) author.forEach(d => {
				if (d === 'robert-diary') { %>
				<li><a href="/diary/public/newArticleRob.html" class="menuLink">Новий запис</a></li>
				<% }}) %>
				<li><div id="menuCommentsHeader">Останні коментарі:</div>
					<% lastComments.forEach(comment => { %>
						<div class="lastCommContainer">
							<b><a href="<%- comment.commentLink %>" class="commentDateMenu">
								<%- comment.date %> <%- comment.author %>
							</a></b><br><div class="commentTextMenu"><%- comment.commentText %></div><br>
						</div>
					<% }) %>
				</li>
		</ul>
		<div id="menuTagsMob">
			<center><div id="menuTagsMobHeader">Теги</div></center>
			<% tags.forEach(tag => { %>
				<div class="tagLinkContainer">
					<a href="/diary/public/<%- authorLink %>/searchResults/<%- tag.name %>"
						class="tagLink"
						style="font-size:<%=35+(tag.count*0.5)%>px;">
							<%- tag.name %>
					</a>
				</div>&nbsp; 
				<% }) %>
		</div>
	</div>
	<!------------------------------ CONTENT----------------------------------->
	<div class="container">
		<% if(articles.length > 0) { %>
		<% articles.forEach(article => { %>
			<% if (author && (article.show === 'author')) { %>
				<% author.forEach(d => { %>
					<% if (d === 'robert-diary') { %>
						<a href="/diary/public/<%- authorLink %>/<%- article.id %>" title="<%- article.title %>" style="text-decoration: none;">
							<div class="event">
								<div style="float: right;"><i class="<%- article.articleSymbol %>"></i></div>
								<time datetime="2020-03-23T16:32"><%- article.date %></time>
								<div class="about"><%- article.thema %></div>
								<p class="tags"><%- article.tags %></p>
							</div>
						</a>
					<% } %> <!-- Закриваючий тег для if (d === 'robert-diary') -->
				<% }) %> <!-- Закриваючий тег для forEach(d => { -->
			<% } else { %>
				<a href="/diary/public/<%- authorLink %>/<%- article.id %>" title="<%- article.title %>" style="text-decoration: none;">
					<div class="event">
						<div style="float: right;"><i class="<%- article.articleSymbol %>"></i></div>
						<time datetime="2020-03-23T16:32"><%- article.date %></time>
						<div class="about"><%- article.thema %></div>
						<p class="tags"><%- article.tags %></p>
					</div>
				</a>
			<% } %>
			<% })} else {%>
				<div class="event">
					Автор обмежив доступ до свого щоденника. Для отримання доступу зв' яжіться із автором.
				</div>
			<%}%>
	</div>

	<div id="menuTags">
		<center><b>Теги</b></center>
		<% tags.forEach(tag => { %>
		<a href="/diary/public/<%- authorLink %>/searchResults/<%- tag.name %>"
			class="tagLink"
			style="font-size:<%=14+(tag.count*0.5)%>px;">
				<%- tag.name %>
			</a>&nbsp; 
		<% }) %>
	</div>
	<footer>Знаходячись на даному веб-сайті ви погоджуєтеся з <a href="/diary/public/flysquirrel-diary/TermsOfUse" id="footerLink">Умовами користування</a></footer>
	<script>
		function showmenu(){
			let menu = document.getElementById('menu');
			if(menu.style.display == 'block'){
				menu.style.display = 'none';
			} else {
				menu.style.display = 'block';
			}
		}
		function applyStyles() {
			const existing = document.getElementById("dynamic-styles");
			if (existing) existing.remove(); // видалити попередній стиль
			const link = document.createElement("link");
			link.rel = "stylesheet";
			link.type = "text/css";
			link.id = "dynamic-styles";
			if (window.innerHeight > window.innerWidth) {
				link.href = "/diary/public/css/diaryRobstyleMob.css";
			} else {
				link.href = "/diary/public/css/diaryRobstyle.css";
			}
			document.head.appendChild(link);
		}
		applyStyles();// Запускаємо при завантаженні
		window.addEventListener("resize", applyStyles);// Пере-перевірка при зміні розміру вікна
	</script>
</body>
</html>